/*
   Don't display radio buttons or the linebreak that EditCustomFieldText
   brings with it
*/
.cfmd > input,
.cfmd > textarea + br {
    display: none;
}

.cfmd-error {
    background-color: #fcc;
    padding: 1em;
    display: none;
}

.cfmd-panel-preview {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    overflow: auto;
    padding: 1px;
    resize: both;
}

input.cfmd-tab-edit:not(:checked) ~ textarea,
input.cfmd-tab-preview:not(:checked) ~ .cfmd-panel-preview {
    display: none;
}

input.cfmd-tab-edit:checked ~ .cfmd-tabs > label.cfmd-tab-edit,
input.cfmd-tab-preview:checked ~ .cfmd-tabs > label.cfmd-tab-preview {
    background-color: gray;
}
